OPENROUTER_API_KEY=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

LANGFUSE_SECRET_KEY=sk-lf-3554fe80-11ce-466d-98e3-e3f54faae79a
LANGFUSE_PUBLIC_KEY=pk-lf-a5ef3c54-30e2-4b64-bd54-7bcfa146137b
LANGFUSE_BASE_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=manager
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=ifaa
